* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

.container {
  width: 20rem;
  margin: 0 auto;
  margin-top: 10rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-family: sans-serif;
  font-weight: 400;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid #4d5cdd;
}

.required-message {
  color: lightcoral;
  font-size: 1rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.table-expenses {
  font-family: sans-serif;
  font-weight: 500;
  color: #000;
  margin: 0.2rem 0;
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: sans-serif;
  font-weight: 600;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  color: #333;
  cursor: pointer;
}

.btn-add {
  background: linear-gradient(rgb(89, 99, 236), rgb(150, 218, 235));
}

.btn-update {
  background: rgba(36, 195, 57, 0.493);
}

.btn-delete {
  background: rgba(218, 60, 21, 0.596);
}

.btn-get-all {
  font-family: sans-serif;
  font-weight: 600;
  padding: 0.5rem 5rem;
  margin: 1rem;
  border: none;
  color: #111;
  background: linear-gradient(rgb(130, 240, 136), rgb(5, 70, 25));
  cursor: pointer;
}

.fetch {
  text-align: center;
}

.outcome {
  background: rgba(255, 0, 0, 0.075);
}

.income {
  background: rgba(0, 128, 0, 0.171);
}

.message {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  padding: 2px;
}

.expense-value {
  text-align: right;
}
